.header__language {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  transition: opacity 0.5s ease-out;
}

/* анимация при наведении курсора */
.header__language:hover {
  opacity: 0.8;
}


@media screen and (max-width: 767px) {
  .header__language {
    font-size: 18px;
    line-height: 20px;
  }
}
