.header__logo {
  /* конкретное ограничение размера логотипа для разрешений от 768 и больше */
  width: 176px;
  height: 52px;
}


@media screen and (max-width: 767px) {
  .header__logo {
    /* конкретное ограничение размера логотипа для разрешений меньше 768 */
    width: 142px;
    height: 42px;
  }
}
