.cover {
  /* ограничение максимальной ширины для создания отступов при разрешении от 1280 */
  max-width: 984px;
  /* внутренние отступы для выравнивания текста и списка внутри блока */
  padding: 56px 0 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 1279px) {
  .cover {
    padding: 48px 48px 92px;
  }
}


@media screen and (max-width: 1023px) {
  .cover {
    padding: 48px 0 88px;
  }
}


@media screen and (max-width: 767px) {
  .cover {
    padding: 48px 0 64px;
  }
}
